html {
  font-size: 61.2%;
  background-color: #fff;
  color: #010101;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}
