html {
  font-size: 61.2%;
  background-color: var(--sui-colors-primary);
  color: var(--sui-colors-red);
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 20px;
  margin: 0 20px;
}
