$sui-spacing-1: 0px;
$sui-spacing-2: 4px;
$sui-spacing-3: 8px;
$sui-spacing-4: 16px;
$sui-spacing-5: 32px;
$sui-spacing-6: 64px;
$sui-spacing-7: 128px;
$sui-spacing-8: 256px;
$sui-spacing-9: 512px;
$sui-sizes-mini: 11 / 14;
$sui-sizes-tiny: 12 / 14;
$sui-sizes-small: 13 / 14;
$sui-sizes-medium: 14 / 14;
$sui-sizes-large: 16 / 14;
$sui-sizes-big: 18 / 14;
$sui-sizes-huge: 20 / 14;
$sui-sizes-massive: 24 / 14;

/* Fonts */
$sui-fonts-body: var(--neueMechanica);
$sui-fonts-heading: var(--neueMechanica);
$sui-fonts-monospace: var(--neueMechanica);

/* Fonts: Weight */
$sui-fonts-weights-body: 400;
$sui-fonts-weights-heading: 500;
$sui-fonts-weights-bold: 700;

/* Fonts: Line Height */
$sui-fonts-line-body: 1.5;
$sui-fonts-line-heading: 1.25;

/* Breakpoints */
$sui-breakpoints-mobile: 320px;
$sui-breakpoints-tablet: 768px;
$sui-breakpoints-computer: 992px;
$sui-breakpoints-desktop: 1200px;
$sui-breakpoints-widescreen: 1920px;

/* Colors */
$sui-colors-white: #efefef;
$sui-colors-gray: #919191;
$sui-colors-primary: #9381ff;

/* Background */
$sui-colors-background: #050505;
$sui-colors-sidebar: #171717;

/* Borders */
$sui-colors-sidebar-border: #262626;

/* Hover */
$sui-colors-hover: #404040;

/* Cta */
$sui-button-primary: #262626;
