.p {
  margin-bottom: 1rem;
  font-family: $sui-fonts-body;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
  margin: 3rem 0 1.38rem;
  font-family: $sui-fonts-body;
  color: $sui-colors-white;
  font-weight: 400;
  line-height: 140%;
}

.h1 {
  margin-top: 0;
  font-size: 4.052rem;
}

.h2 {
  font-size: 3.441rem;
}

.h3 {
  font-size: 2.953rem;
}

.h4 {
  font-size: 1.563rem;
}

.h5 {
  font-size: 1.25rem;
}

.small,
.text_small {
  font-size: 0.8rem;
}

.blockquote {
  position: relative;
  font-style: italic;
  color: $sui-colors-white;
  padding: 25px;
  font-size: 16px;
  line-height: 140%;
  border-left: 4px solid $sui-colors-white;
  background-color: $sui-colors-primary;
  margin: 20px 0;
}

.link {
  color: $sui-colors-primary;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin-top: 2em;
  margin-bottom: 3em;
}

.ul {
  list-style: disc;
  padding-left: 15px;
  margin-top: 1em;
  margin-bottom: 1em;
  color: $sui-colors-white;
  font-family: $sui-fonts-body;
  font-weight: 300;
  font-size: 16px;

  li {
    margin-bottom: 0.5em;
  }
}

.ol {
  list-style: decimal;
  padding-left: 15px;
  margin-top: 1em;
  margin-bottom: 1em;
  color: $sui-colors-white;
  font-family: $sui-fonts-body;
  font-weight: 300;
  font-size: 16px;

  li {
    margin-bottom: 0.5em;
  }
}
