.ama-page {
  width: calc(100% - 600px);
  display: flex;
  margin-left: 600px;
  justify-content: center;
  padding-bottom: 5em;
  background-color: $sui-colors-background;

  @media screen and (max-width: 1120px) {
    width: calc(100% - 550px);
    margin-left: 550px;
  }

  @media screen and (max-width: 1024px) {
    width: 100%;
    margin-left: 0px;
    min-height: 100vh;
    height: 100%;
    position: fixed;
    overflow: scroll;
  }

  .header {
    width: calc(100% - 600px);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 1em 2em;
    border-bottom: 1px solid $sui-colors-hover;
    background-color: rgba(23, 23, 23, 0.3);
    backdrop-filter: blur(10px) brightness(0.89);
    z-index: 2;

    .lucide-arrow-left {
      display: none;
    }

    @media screen and (max-width: 1120px) {
      width: calc(100% - 550px);
      margin-left: 550px;
    }

    @media screen and (max-width: 1024px) {
      width: 100%;
      justify-content: space-between;
      .lucide-arrow-left {
        display: block;
        cursor: pointer;
        margin-top: 5px;
      }
    }
  }

  section {
    width: 90%;
    margin-top: 8em;

    .ama_headline {
      display: flex;
      align-items: center;
      gap: 1em;
      margin-bottom: 4em;
    }

    .author {
      display: flex;
      align-items: center;
      gap: 1em;
    }

    .author_profile {
      width: 30px;
      height: 30px;
      border-radius: 100%;
      object-fit: cover;
    }

    .author_name {
      font-size: 1.6rem;
      font-weight: 300;
      font-family: $sui-fonts-body;
      color: $sui-colors-white;
    }

    .date {
      font-size: 1.6rem;
      font-weight: 300;
      font-family: $sui-fonts-body;
      color: $sui-colors-hover;
    }

    .content {
      width: 100%;

      h1 {
        font-size: 2.6rem;
        font-weight: 500;
        font-family: $sui-fonts-body;
        color: $sui-colors-white;
        line-height: 140%;
        margin-bottom: 1em;
      }

      p {
        font-size: 1.6rem;
        font-weight: 300;
        font-family: $sui-fonts-body;
        color: $sui-colors-hover;
        line-height: 140%;
        margin-bottom: 0.5em;
      }
    }
  }
}
