.nav_link {
  margin-top: 3em;
  padding: 1.2em 1em;
  border-radius: 5px;

  display: flex;
  align-items: center;
  gap: 1em;
  text-decoration: none;

  p {
    font-size: 1.4em;
    font-weight: 400;
    color: $sui-colors-white;
    font-family: $sui-fonts-body;
  }

  svg {
    width: 1.5em;
    height: 1.5em;
  }

  &:hover {
    background-color: $sui-colors-hover;
  }

  &.active {
    background-color: $sui-colors-hover;
  }
}
