.sidebar {
  background-color: $sui-colors-sidebar;
  border-right: 1px solid $sui-colors-sidebar-border;
  height: 100vh;
  position: fixed;
  width: 250px;
  padding: $sui-spacing-4;

  @media screen and (max-width: 1024px) {
    display: none;
  }

  h1 {
    font-size: 1.4rem;
    font-weight: 500;
    font-family: $sui-fonts-body;
    color: $sui-colors-white;
    margin-top: 1em;
    margin-left: 0.5em;
  }

  .head_links {
    margin-top: 4em;
  }
  .me {
    margin-top: 4em;
    h3 {
      font-size: 1.4rem;
      font-weight: 400;
      color: $sui-colors-gray;
      font-family: $sui-fonts-body;
      margin-bottom: 1em;
      margin-left: 0.5em;
    }
  }
  .socials {
    margin-top: 4em;
    h3 {
      font-size: 1.4rem;
      font-weight: 400;
      color: $sui-colors-gray;
      font-family: $sui-fonts-body;
      margin-bottom: 1em;
      margin-left: 0.5em;
    }
  }

  .cta {
    width: 90%;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (max-width: 672px) {
      bottom: 10%;
    }

    .separator {
      margin-top: 2em;
      margin-bottom: 2em;
      border-bottom: 1px solid $sui-colors-sidebar-border;
    }

    .sign_in {
      width: 100%;
      background-color: $sui-button-primary;
      border: 1px solid $sui-colors-hover;
      color: $sui-colors-white;
      font-size: 1.4rem;
      font-weight: 400;
      font-family: $sui-fonts-body;
      padding: 12px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
