.writing-page {
  position: relative;
  width: calc(100% - 600px);
  display: flex;
  margin-left: 600px;
  justify-content: center;
  padding-bottom: 5em;

  @media screen and (max-width: 1120px) {
    width: calc(100% - 550px);
    margin-left: 550px;
  }

  .header {
    width: calc(100% - 600px);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: right;
    padding: 1em 5em;
    border-bottom: 1px solid $sui-colors-hover;
    background-color: rgba(23, 23, 23, 0.3);
    backdrop-filter: blur(10px) brightness(0.89);

    @media screen and (max-width: 1120px) {
      width: calc(100% - 550px);
      margin-left: 550px;
    }

    .like_button {
      cursor: pointer;
      width: 80px;
      background-color: $sui-button-primary;
      border: none;
      color: $sui-colors-white;
      font-size: 1.4rem;
      font-weight: 400;
      font-family: $sui-fonts-body;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5em;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  section {
    width: 90%;
    margin-top: 8em;

    .title {
      display: flex;
      flex-direction: column;
      gap: 1em;
      h1 {
        font-size: 2.6rem;
        font-weight: 500;
        font-family: $sui-fonts-body;
        color: $sui-colors-white;
      }
      p {
        font-size: 1.6rem;
        font-weight: 300;
        font-family: $sui-fonts-body;
        color: $sui-colors-white;
      }

      margin-bottom: 3.5em;
    }

    .content {
      width: 100%;

      h3 {
        font-size: 2rem;
        font-weight: 500;
        font-family: $sui-fonts-body;
        color: $sui-colors-white;
        margin-bottom: 0.5em;
      }
    }
  }
}
